﻿extends dataLayout

block pageTitle
    - var title = "Original BOM for Arena : " + pageData.wholenumber.substring(0,9)
    h3 #{title}

block pageContent
    - var results = pageData.results
    table(style = "width = 100%" class="table table-striped")
        tr
            td VALUE
            td PART_REFERENCE
        - for (var i = 0; i < results.length; i++){
        tr
            td #{results[i].value}
            td #{results[i].refDes}
        - }