﻿extends layout

block pageTitle
    - var title = "Information for number: " + pageData.wholenumber + " was not found. Input data for this number below"
    h1 #{title}

block pageContent
    - var arena = pageData.arena
    - var serial = pageData.serial
    form(action="/write/finish" method="post" enctype="multipart/form-data")
        h4 Arena Number
        input(name="arenaNumber" type="text" value = arena readonly)
        h4 Serial Number
        input(name="serialNumber" type="text" value = serial readonly)
        h4 Build Number
        input(name="buildNumber" type="text")
        h4 Upload BOM
        input(accept="MIME_type" name="bom" type="file")
        h4 Upload Netlist
        input(accept="MIME_type" name="netlist" type="file")
        br
        input(type="submit")