﻿//Layout.jade defines the layout of the entire website. It will contain the navbar and
//extension views will populate pageTitle and pageContent blocks
doctype html
html
  head
    title= title
    //indicate that our site is mobile optimized
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel = "stylesheet" href = "/stylesheets/collapse.css")
    //add bootstrap dependencies from CDNjs. Using a CDN to distribute these files puts less pressure
    //on our web server and will be delivered faster to the client than our own server.
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css')
  body
    block navBar
        nav(class='navbar navbar-default', role='navigation')
            .container-fluid
                .navbar-header
                    button(class='navbar-toggle', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sronly
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a(class='navbar-brand', href='/') Back to Scanner
                #bs-example-navbar-collapse-1(class='collapse navbar-collapse')
                    - var viewpath = "/view/" + pageData.wholenumber
                    - var bompath = "/view/bom/" + pageData.wholenumber
                    - var netpath = "/view/netlist/" + pageData.wholenumber
                    ul(class='nav navbar-nav')
                        li
                            a(href=viewpath) Home
                        li
                            a(href=bompath) BOM
                        li
                            a(href=netpath) Netlist
    block pageTitle
    block pageContent