﻿extends layout

block pageTitle
    - var title = "Edit ECO for Arena: " + pageData.arena
    h3 #{title}

block pageContent
    - var sendMethod = "submitForm("+pageData.wholenumber+")"
    form(class = "form-horizontal")
        .form-group
            div#mainPanel(class = "panel panel-primary")
                .panel-heading Changes
                div#formPanel0(class = "panel panel-default" style="margin-top:10px; margin-left:10px; margin-right:10px")
                    div(class = "panel-body" style="margin-left:10px; margin-right: 10px")
                        form
                            table(width="100%")
                                tr#row0
                                    td
                                        select(name = changeLoc class="form-control" onchange="changeSelectLoc(0)")
                                            option(disabled selected) -- Change Location --
                                            option(value = Bom) Bom
                                            option(value = Netlist) Netlist
                                    td
                                        span(class = "glyphicon glyphicon-remove" style="margin-left: 10px" onclick="rowRemove(0)")
                form
                    button#addButton(type="button" class="btn btn-primary" style="margin-left:20px; margin-bottom: 20px" onclick="rowAdd()")
                        span(class="glyphicon glyphicon-plus")
        .form-group
            button(type="button" class="btn btn-primary pull-right" style = "padding-left:100px; padding-right:100px" onclick = sendMethod)
                span(class="glyphicon glyphicon-ok")
    script(src = '/javascripts/jquery-2.1.1.min.js')
    script(src = '/javascripts/ecoedit.js')