﻿doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel = 'stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    script(src = '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')


  body
    block pageTitle
    block pageContent