﻿extends dataLayout

block pageTitle
    - var title = "Original Netlist for Arena : " + pageData.wholenumber.substring(0,9)
    h3 #{title}

block pageContent
    - var results = pageData.results
    table(style = "width = 100%" class="table table-striped")
        tr
            td NET_NAME
            td REFERENCE_ID
            td PIN
            td NODE_NAME
        - for (var i = 0; i < results.length; i++){
        tr
            td #{results[i].net}
            td #{results[i].refId}
            td #{results[i].pin}
            td #{results[i].node}
        - }