﻿extends layout

block pageTitle
    h1 Add to Existing ArenaNumber

block pageContent
    - var path = "/write/addtounits/" + pageData.wholenumber
    form(action= path method="post" enctype="multipart/form-data")
        h4 Build Number
        input(name="buildNumber" type="text")
        input(value="Submit" type="submit")