﻿extends dataLayout

block pageTitle
    - var title = "Information on Part : " + pageData.wholenumber
    h3 #{title}

block pageContent
    script(src = '/javascripts/jquery-2.1.1.min.js')
    script.
        boxes=!{JSON.stringify(pageData.boxes)};
        results = !{JSON.stringify(pageData.results)};
    script(src = '/javascripts/viewpage.js')

    - var build = {buildnumber: pageData.buildnumber}
    - var ecopath = "/edit/eco/" + pageData.wholenumber
    h3#begin Current Build Number: #{build.buildnumber}

    div(class="panel-group" id="accordion")

    form(action=ecopath method='get')
        button(class= "btn btn-primary") Add Changes

