﻿extends layout

block pageTitle
    h1 Upload Information

block pageContent
    form(action="/write/finish" method="post" enctype="multipart/form-data")
        h4 Arena Number
        input(name="arenaNumber" type="text")
        h4 Serial Number
        input(name="serialNumber" type="text")
        h4 Build Number
        input(name="buildNumber" type="text")
        h4 Upload BOM
        input(accept="MIME_type" name="bom" type="file")
        h4 Upload Netlist
        input(accept="MIME_type" name="netlist" type="file")
        input(type="submit")