﻿extends layout

block pageTitle
    h1 Scan to Begin

block pageContent
    form(action='/write' method="get")
        input(name="WholeNumber" type="text" autofocus)
        input(value="Submit" type="submit")