﻿extends layout

block pageTitle
    h1 New Serial Number Detected

block pageContent
    form(action="/createboard/:id" method="post" enctype="multipart/form-data")
    h4 Build Number
    input(name="BuildNumber" type="text")
    input(value="Submit" type="submit")